HOST=0.0.0.0
PORT=8000
FRONTEND_URL=http://localhost:5173

NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
OSRM_BASE_URL=https://router.project-osrm.org

FUEL_PRICE_DIESEL=1.919
FUEL_PRICE_PETROL_98=1.746
FUEL_PRICE_PETROL_95=1.579
FUEL_PRICE_LPG=0.779
